<%- include('sections/_header.ejs') %>

    <title>buscando.com | Buscá tu anuncio 📢 </title>
</head>
<body>
    <%- include('sections/_layout_start.ejs') %>

        
        <!-- <div class="bg-[url('/images/san-fran-city.jpg')] bg-no-repeat rounded-xl" style="width: 700px; height: 368px;"> -->
        <h1 class="font-1 text-5xl font-semibold px-5">
            buscando
        </h1>
        
       
        <!-- Search city -->
        <div id="input-search" class="px-5 my-5">
            Cargando...
        </div>

        <div>
            <button class="button-1 font-1">Aceptar</button>
            <button class="button-2 font-1">Secondary</button>
            <button class="button-3 font-1">Third</button>
            <button class="button-4 font-1">Fourth</button>
            <button class="button-5 font-1">Cancelar</button>
        </div>
        
 
        <script type="module">

            import {html, render } from '/preact.js';
            import { SearchComp } from '/components/home/search-comp.js'; 
            
            const searchElem =  document.getElementById('input-search');
            searchElem.innerHTML = '';

            render(html`<${SearchComp} />`, searchElem);

        </script>

        
        <!-- Last anuncios -->


        <!-- Ranking de ciudades -->

    
        <%- include('sections/_footer.ejs') %>

    <%- include('sections/_layout_end.ejs') %>

</body>
</html>